main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin: 4% auto 1%;
}

.pais-selecionado {
    display: flex;
    margin-bottom: 2%;
}

.flag {
    width: 400px;
    display: flex;
    align-items: center;
}

.flag img {
    width: inherit;
    height: inherit;
}

.info {
    margin-left: 2%;
}
.info p {
    margin: 5% 0;
    line-height: 2em;
}

.paises-vizinhos-container {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paises-vizinhos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.pais {
    width: 22%;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.pais * {
    width: 100%;
}

.paginator {
    margin-top: 2%;
}

@media (max-width: 800px){
    .flag {
        width: 100%;
    }
    .pais-selecionado {
        flex-direction: column;
    }
    .paises-vizinhos {
        flex-direction: column;
    }
    .pais {
        width: 100%;
        margin: 5% 0;
    }
}