.container {
    margin-top: 100px;
    padding: 32px;
}

.select-box {
    width: 316px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.select-box .options-container {
    max-height: 0;
    min-height: 321px;
    width: 100%;
    position: absolute;
    background: white;
    pointer-events: none;
    color: #8D8D8D;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
    order: 1;
}

.selected {
    color: #8D8D8D;
    border-bottom: solid 1px #A8A8A8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 0;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    padding: 3px 16px;
}

.arrow-down {
    width: 10px;
    height: 5px;
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
}

.select-box .options-container.active {
    pointer-events: all;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
}

.select-box .option {
    font-size: 16px;
    font-weight: 700;
    margin: 4px 0;
    padding: 14px 16px;
    cursor: pointer;
}

.select-box .option:hover {
    color: #02AE99;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
